
<div class="container">

<div class="row">
    <div class="col-lg-12">
        <div class="input-group">
            <input [(ngModel)]="query" type="text" class="form-control" /> 
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="search()">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
</div>


<div *ngIf="hasItems" class="container">
    <div *ngFor="let item of result.items" class="row">
        <div class="col-lg-4">
            <a href="/Downloader/DownloadIt/?query={{item.filePath}}">
                {{item.fileName}}
            </a>
        </div>
        <div class="col-lg-12">
            <span [innerHTML]="item.highlight"></span>
        </div>
    </div>    
</div>